@import "./common/variables.scss";
@import "./common/mixins.scss";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;

  @include respond(big-desktop) {
    font-size: 62.5%;
  }

  @include respond(tab-land) {
    font-size: 52.5%;
  }

  @include respond(tab-port) {
    font-size: 50%;
  }

  @include respond(phone) {
    font-size: 50%;
  }
}

body {
  font-family: var(--default-fonts);
  font-weight: 300;
  font-size: var(--default-font-size);
  padding: 7rem 2.4rem;
  background: var(--color-bg);
  transition: background 1s;

  // Overrides transitions that cause theme colours to flash on initial page load
  // Class is removed once persisted redux store value is loaded
  &.preload-overwrite {
    transition: none !important;
  }
}

a {
  text-decoration: none;
  color: currentColor;
  transition: color 0.3s;
  
  &:hover {
    color: var(--color-text-active);
  }
}

button {
  border: none;
  background: transparent;
  font-family: var(--default-fonts);
  font-size: var(--default-font-size);
  color: var(--color-text-1);
  cursor: pointer;
}
