@import "../../common/variables.scss";

// TODO: Clean up - Likely some suboptimal structure/repetition of properties here
.login-card {
  background: var(--color-surface);
  border-radius: var(--border-radius);
  left: 0;
  box-shadow: var(--box-shadow);
  padding: 2.4rem;
  display: block;
  color: var(--color-text-active);
  transition: background 1s, color 1s, box-shadow 1s;

  .heading {
    margin-bottom: 2.5rem;
    border-bottom: 1px solid var(--color-border);
    padding-bottom: 1.2rem;
    font-weight: 400;
    font-size: 2rem;
    transition: border-color 1s;
  }

  .content {
    color: var(--color-text-active);
    font-size: 1.6rem;

    p {
      line-height: 3rem;
      margin-bottom: 2rem;
          transition: color 1s;
    }

    .features {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 2rem 0;
      gap: 1rem;
      font-weight: 300;
      font-size: 1.5rem;
      margin-bottom: 1.5rem;
      color: var(--color-text-1);
      transition: color 1s;

      &:before,
      &:after {
        content: "";
        border-bottom: 1px solid var(--color-border);
        width: 100%;
        gap: 1rem;
        transition: border 1s;
      }
    }

    .features-list {
      list-style: none;
      padding: 0;
      margin-bottom: 3rem;

      &--item {
        clear: left;
        margin-bottom: 2rem;
        line-height: 2rem;
        display: flex;
        align-items: center;
        transition: color 1s;

        &:before {
          content: "";
          background: url("../../assets/icon-check.svg");
          border: 2px solid #44cf6c;
          height: 1.75rem;
          width: 1.75rem;
          margin-right: 2rem;
          float: left;
          background-position: center;
          background-repeat: no-repeat;
          background-size: 100%;
          background-color: #44cf6c;
          border-radius: 50%;
          margin-bottom: 3px;
        }
      }
    }

    .google-button {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      text-align: center;
      padding: 1.25rem;
      border-radius: var(--border-radius);
      transition: transfrom ease-in-out 0.5s;
      border: 1px solid var(--color-border);
      background: var(--google-button-background);
      box-shadow: var(--button-box-shadow);
      font-family: "Roboto", sans-serif;
      margin: 1.5rem 0;
      transition: background 1s, border 1s, color 1s, box-shadow 1s;

      &--icon {
        width: 3rem;
        background: var(--color-white);
        padding: 0.4rem;
        border-radius: 3px;
        height: 3rem;
      }

      &:hover {
        transform: translateY(-3%);
      }
    }
  }

  .footer {
    border-top: 1px solid var(--color-border);
    margin-top: 0rem;
    display: flex;
    justify-content: space-between;
    grid-gap: 1rem;
    gap: 1rem;
    padding-top: 2.5rem;
    color: var(--color-text-1);
    transition: border 1s;
  }
}
