:root {
  --border-radius: 0.5rem;

  --default-fonts: "Josefin Sans", sans-serif;
  --default-font-size: 1.4rem;

  --default-transition: ease-in 0.3s;

  --color-bright-blue: hsl(220, 98%, 61%);
  --color-white: white;
  --checkbox-gradient: linear-gradient(
    to right bottom,
    rgb(87, 221, 255),
    rgb(192, 88, 243)
  );
}

//DarkTheme
.dark-theme {
  --color-bg: hsl(235, 21%, 11%);
  --color-surface: hsl(235, 24%, 19%);
  --color-border: #393a4b;
  --color-text-active: hsl(234, 39%, 85%);
  --color-text-completed: hsl(233, 14%, 35%);
  --color-text-1: hsl(235, 16%, 43%);
  --box-shadow: 0px 35px 50px -15px rgba(0, 0, 0, 0.5);
}

// // Light Theme
.light-theme {
  --color-bg: hsl(0, 0%, 98%);
  --color-surface: hsl(0, 0%, 100%);
  --color-border: #e3e4f1;
  --color-text-active: hsl(235, 19%, 35%);
  --color-text-completed: hsl(233, 11%, 84%);
  --color-text-1: hsl(235, 9%, 61%);
  --box-shadow: 0px 35px 50px -15px rgba(194, 195, 214, 0.5);
}
